{%extends 'base.html'%}
{%block body%}

<html>
    <body>
        <h1>Administracion de Aulas</h1>
</ul>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <form action="/add_course" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Nombre del Aula" name="course_name">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Capacidad del Aula" name="course_capacity">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="PC disponibles del Aula" name="pc_availables">
        </div>
        <button type="submit" class="btn btn-primary">Crear Aula</button>
      </form>
    </div>
    <div class="col-8">
      <div class="col-md-9">
        <table class="table table-striped table-hover table-bordered table-sm bg-white">
          <thead>
            <tr>
              <td>ID</td>
              <td>Curso</td>
              <td>Capacidad</td>
              <td>PC disponibles</td>
              <td>Operations</td>
            </tr>
          </thead>
          <tbody>
            {% for aula in aulas %}
            <tr>
              <td>{{aula.0}}</td>
              <td>{{aula.1}}</td>
              <td>{{aula.2}}</td>
              <td>{{aula.3}}</td>
              <td>
                <a href="/deleteAula/{{aula.0}}" class="btn btn-danger btn-sm btn-delete">delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</body>
</html>
{%endblock%}