{%extends 'base.html'%}
{%block body%}

<html>
    <body>
        <h1>Administracion de Materias</h1>
</ul>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <form action="/add_subject" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Nombre de la Materia" name="subject_name">
        </div>
        <div class="mb-3">
          <select class="form-select form-select-lg px-3" name="subject_priority" aria-label=".form-select-lg example">
            <option selected>Seleccione la Prioridad</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select form-select-lg px-4" name="idteacher" aria-label=".form-select-lg example">
            <option selected>Profesor a Cargo</option>
            {% for profesor in profesores %}
            <option value="{{profesor.0}}">{{profesor.1}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Crear Materia</button>
      </form>
    </div>
    <div class="col-8">
      <div class="col-md-11">
        <table class="table table-striped table-hover table-bordered table-sm bg-white">
          <thead>
            <tr>
              <td>ID</td>
              <td>Materia</td>
              <td>Prioridad</td>
              <td>Profesor</td>
              <td>Operaciones</td>
            </tr>
          </thead>
          <tbody>
            {% for subject in subjects %}
            <tr>
              <td>{{subject.0}}</td>
              <td>{{subject.1}}</td>
              <td>{{subject.2}}</td>
              <td>{{subject.5}}</td>
              <td>
                <a href="/deleteMaterias/{{subject.0}}" class="btn btn-danger btn-sm btn-delete">delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</body>
</html>
{%endblock%}