{%extends 'layout.html'%}
{%block body%}

<html>
    <body>
        <h1>Plataforma de reservas de la ETec</h1>
        <form action="/add_user" method="POST">
            <h1>Registro</h1>
            <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Nombre completo" name="teacher_name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Usuario" name="teacher_user">
                </div>
              </div>
              <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="E-mail" name="teacher_email">
                </div>
                <div class="col">
                  <input type="password" class="form-control" placeholder="Contraseña" name="teacher_password">
                </div>
              </div>
              <div class="row g-3 py-3 px-3">
                <button type="submit" class="btn btn-primary">Registrarse</button>
              </div>
        </form>
    </body>
</html>
{%endblock%}